h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(187, 120, 120);
    background-color: rgb(99, 19, 35);
    display: inline-block;
    width: auto;
    margin-top: 70px;
    font-family: cursive;
    margin-left: 41%;
    margin-right: 50px;
    padding: 10px;
}

.web{
    line-height:8rem;
    text-align: center;
    color: rgb(178, 14, 14);
    font-size: large;
    margin-right: 2%;
}
.p1{
    display: inline-block;
    font-size: small;
    width: auto;
    margin-left: 40%;
    margin-right: 50px;
}
.p2{
    display: inline-block;
    font-size: small;
    width: auto;
}
h2{
    text-align: center;
    color: brown;
    border: solid;
    background-color: rgb(203, 109, 109);
    display: block;
    width: 80px;
    margin: 80px auto 10px;
}

body{
    background-color: rgb(236, 142, 142);
}
img{
    display: block;
    width: 100px;
    margin: 0px auto;
}

.ref{
    color: white;
    background-color: rgb(203, 109, 109);
    display: block;
    padding: 10px;
    border: solid;
    font-size: x-large;
    border-radius: 20%;
    margin-left: 46%;
    margin-top: 20px;
}
button:hover{
    background-color: rgb(193, 29, 68);
}

.res{
    color: brown;
    background-color: rgb(203, 109, 109);
    display: inline-block;
    border: solid;
    border-color: brown;
    font-size: x-large;
    border-radius: 20%;
    margin-left: 40%;
    margin-top: 40px;
    padding: 10px;
}
